#cart-container {
  padding: 16px;
}

#cart-title-container {
  display: flex;
  align-items: center;
}

#cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

#cart-header h3 {
  color: #e83f5b;
  font-size: 24px;
}

#cart-container h2 {
  color: #3d3d4d;
  font-size: 32px;
  margin-left: 8px;
}

#cart-items-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
}